{% extends 'base.html' %} 

{% block body %}
<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Hii, there👋</h1>
      <p class="lead">Your 5 day's 💪Diet Plan is ready</p>
      <hr class="my-4">
      <p>Follow the below Diet plan for your Weight Loss Plan.</p>
  </div>
  <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Day 1 > 💪Diet Plan
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <!-- edit -->
              <div class="row justify-content-center">
                <div class="col justify-content-center">Breakfast</div>
                <div class="col justify-content-center">Lunch</div>
                <div class="col justify-content-center">Dinner</div>
              </div>
              <div class="row justify-content-center">
                {% for item in day1 %}
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src={{item.image_link}} class="card-img-top" height="200" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{item.Name}}</strong></h5>
                        <p class="card-text"><span style="color: green;">Calories: {{item.Calories}}.</span><br>
                                            CookTime: {{item.CookTime}} min.<br>
                                            PrepTime: {{item.PrepTime}} min.<br>
                                            TotalTime: {{item.TotalTime}} min.</p>
                        <a href="/calories_api/view/:{{item.RecipeId}}" class="btn btn-primary">View</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             Day 2 > 💪Diet Plan
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <!-- edit -->
            <div class="row justify-content-center">
              <div class="col justify-content-center">Breakfast</div>
              <div class="col justify-content-center">Lunch</div>
              <div class="col justify-content-center">Dinner</div>
            </div>
            <div class="row justify-content-center">
              {% for item in day2 %}
                <div class="col-md-4 d-flex justify-content-center">
                  <div class="card" style="width: 18rem;">
                    <img src={{item.image_link}} class="card-img-top" height="200" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><strong>{{item.Name}}</strong></h5>
                      <p class="card-text"><span style="color: green;">Calories: {{item.Calories}}.</span><br>
                                          CookTime: {{item.CookTime}} min.<br>
                                          PrepTime: {{item.PrepTime}} min.<br>
                                          TotalTime: {{item.TotalTime}} min.</p>
                      <a href="/calories_api/view/:{{item.RecipeId}}" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Day 3 > 💪Diet Plan
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <!-- edit -->
              <div class="row justify-content-center">
                <div class="col justify-content-center">Breakfast</div>
                <div class="col justify-content-center">Lunch</div>
                <div class="col justify-content-center">Dinner</div>
              </div>
              <div class="row justify-content-center">
                {% for item in day3 %}
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src={{item.image_link}} class="card-img-top" height="200" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{item.Name}}</strong></h5>
                        <p class="card-text"><span style="color: green;">Calories: {{item.Calories}}.</span><br>
                                            CookTime: {{item.CookTime}} min.<br>
                                            PrepTime: {{item.PrepTime}} min.<br>
                                            TotalTime: {{item.TotalTime}} min.</p>
                        <a href="/calories_api/view/:{{item.RecipeId}}" class="btn btn-primary">View</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Day 4 > 💪Diet Plan
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <!-- edit -->
              <div class="row justify-content-center">
                <div class="col justify-content-center">Breakfast</div>
                <div class="col justify-content-center">Lunch</div>
                <div class="col justify-content-center">Dinner</div>
              </div>
              <div class="row justify-content-center">
                {% for item in day4 %}
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src={{item.image_link}} class="card-img-top" height="200" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{item.Name}}</strong></h5>
                        <p class="card-text"><span style="color: green;">Calories: {{item.Calories}}.</span><br>
                                            CookTime: {{item.CookTime}} min.<br>
                                            PrepTime: {{item.PrepTime}} min.<br>
                                            TotalTime: {{item.TotalTime}} min.</p>
                        <a href="/calories_api/view/:{{item.RecipeId}}" class="btn btn-primary">View</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Day 5 > 💪Diet Plan
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <!-- edit -->
              <div class="row justify-content-center">
                <div class="col justify-content-center">Breakfast</div>
                <div class="col justify-content-center">Lunch</div>
                <div class="col justify-content-center">Dinner</div>
              </div>
              <div class="row justify-content-center">
                {% for item in day5 %}
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                      <img src={{item.image_link}} class="card-img-top" height="200" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><strong>{{item.Name}}</strong></h5>
                        <p class="card-text"><span style="color: green;">Calories: {{item.Calories}}.</span><br>
                                            CookTime: {{item.CookTime}} min.<br>
                                            PrepTime: {{item.PrepTime}} min.<br>
                                            TotalTime: {{item.TotalTime}} min.</p>
                        <a href="/calories_api/view/:{{item.RecipeId}}" class="btn btn-primary">View</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}